<div>
    <h2>Introduction to Computer Science</h2>
    <p>
        Computer Science is the study of computers and computational systems. 
        Unlike electrical and computer engineers, computer scientists deal mostly with software and software systems; 
        this includes their theory, design, development, and application. In modern days, most people refer computer science
        and software engineering to as the art of coding. Although coding the essential part of the subject, 
        coding must be combined with other tools to achieve certain goals.
    </p>
    <div class="img-wrapper">
        <img src="../../assets/img/computer_science.jpg">
    </div>

    <p>
        From the engineering aspect, computers can accurately store data and perform calculations and simulations with 
        a speed that most human brain could not achieve. When combined with the correct algorithm, data structure,
        and expression, such power could be use to solve many real world problems. Software engineers's job is to 
        come up with the algorithm that will solve a given problem efficiently and the correct expression.
    </p>

    <p>
        In this course, we will be focusing on getting the correct expressions in the logic layer.
        You will be introduced to the programing language C#, and use the knowledge you learned to implement the game 
        logic of some simple games. You wil also be introduced to some of the computer science concepts such as 
        layering, object oriented programing, dynamic programing, data structures, and artificial intelligence.
    </p>
</div>