.spacer{
    flex: 1 auto;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a.title {
    font-size: 150%;
    font-style: italic;
}

mat-icon.title_icon {
    transform: scale(1.8);
}