<mat-card class="example-card" color="primary">
    <mat-card-header>
      <mat-card-title>Session 2:</mat-card-title>
      <mat-card-subtitle>Primitive Data Types</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        This session covers primitive data types, array, variable assignment, mathematical operations, if statement, and loops.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="jumpToSession()"><p>JUMP TO SESSION</p></button>
    </mat-card-actions>
  </mat-card>