<div>
    <h2>Introduction to C#</h2>
    <p>
        During this course, students will be learning C# and build serveral 
        projects with this language. However, many finds it confusing to learn their
        first programing language without knowing how the architect works. Therefore, 
        the lecture will first go over briefly on what is happening behind programing,
        then start with the basics syntax of C#.
    </p>

    <p class="important">Definitions:</p>

    <div class="definitionGroup">
        <p class="important">
            Higher-Level Language
        </p>
        <p> 
            focuses more on the programming logic rather than the underlying hardware 
            components. Will be compile down to assembly languages. (Java, Python, C++, C#, etc)
        </p>
    </div>

    <div class="definitionGroup">
        <p class="important">
           Assembly Language
        </p>
        <p> 
            bridge between the underlying hardware of a computer and the higher-level programming languages.
            Takes a higher-level language's logic and communicate directly with a computer’s hardware. Will be
            converted into executable machine language. (x86, ARM, MIPS, etc)
        </p>
    </div>

    <div class="definitionGroup">
        <p class="important">
            Machine Language
        </p>
        <p> 
            binary digits of fixed length that hardware like processor can directly understand. Make up of 0s and 1s.
            Depending on the type of operation and hardwares, the length could be different. 
            (0100001011110111, 0011, 01001000, etc)
        </p>
    </div>

    <div class="definitionGroup">
        <p class="important">
            Compiler
        </p>
        <p> 
            a special computer program that translates computer code written in one programming language (the source language) into another language (the target language).
            It's most important usage is to convert a higher-level language such as C# into executable machine code.
        </p>
    </div>

    <div class="definitionGroup">
        <p class="important">
            Object-Oriented Programing Language
        </p>
        <p> 
            a high-level computer programming language that implements objects and their associated procedures within the programming context to create software programs.
            (It is ok if student don't know what this means and hwo this is significant after reading the lecture page, it will be explained later with examples)
        </p>
    </div>

    <div class="definitionGroup">
        <p class="important">
            Primitive Data Type
        </p>
        <p> 
            the set of the basic data types from which all other data types are constructed.
        </p>
    </div>

    <p class="important">Readings:</p>
</div>