<div>
    <h2>Introduction to C#</h2>
    <p>
        During this course, students will be learning C# and building serveral 
        projects with this programming language. However, many finds it confusing to learn their
        first programing language without knowing how the architect works. Therefore, 
        this lecture will first go over briefly on what is happening behind programing,
        then start with the basics syntax of C#.
    </p>



    <p class="important">Definitions:</p>
    <div class="definitionGroup">
        <p class="important">
            Higher-Level Language
        </p>
        <p> 
            focuses more on the programming logic rather than the underlying hardware 
            components. Will be compile down to assembly languages. (Java, Python, C++, C#, etc)
        </p>
    </div>
    <div class="definitionGroup">
        <p class="important">
           Assembly Language
        </p>
        <p> 
            bridge between the underlying hardware of a computer and the higher-level programming languages.
            Takes a higher-level language's logic and communicate directly with a computer’s hardware. Will be
            converted into executable machine language. (x86, ARM, MIPS, etc)
        </p>
    </div>
    <div class="definitionGroup">
        <p class="important">
            Machine Language
        </p>
        <p> 
            binary digits of fixed length that hardware like processor can directly understand. Make up of 0s and 1s.
            Depending on the type of operation and hardwares, the length could be different. 
            (0100001011110111, 0011, 01001000, etc)
        </p>
    </div>
    <div class="definitionGroup">
        <p class="important">
            Compiler
        </p>
        <p> 
            a special computer program that translates computer code written in one programming language (the source language) into another language (the target language).
            It's most important usage is to convert a higher-level language such as C# into executable machine code.
        </p>
    </div>
    <div class="definitionGroup">
        <p class="important">
            Object-Oriented Programing Language
        </p>
        <p> 
            a high-level computer programming language that implements objects and their associated procedures within the programming context to create software programs.
            (It is ok if student don't know what this means and how this is significant after reading the lecture page, it will be explained later with examples)
        </p>
    </div>
    <div class="definitionGroup">
        <p class="important">
            Primitive Data Type
        </p>
        <p> 
            the set of the basic data types from which all other data types are constructed.
        </p>
    </div>



    <p class="important">Computer Architects and Programming Languages:</p>
    <p>
        Upon reading the definition section, student should understand how a higher level programming 
        language like C# turns into executable software. Through compiler, a higher-level language will be compiled into a 
        lower-level language, then eventually the assembly language matching their specific harware, then assembly language
        gets to be turned into machine codes that's executable by their processors.
    </p>
    <p>
        In modern days, most codes are written with higher-level languages beacause it is more productive, easier
        to debug, and works well across different hardwares.
    </p>
    <p>
        Another feature of many higher level languages to help developement is to be object-oriented. As defined, In 
        an object-oreiented language, coder must explicitly let the compiler know what type of object is attached to a 
        variable name.
    </p>
    <p>
        To give a brief example on one of the advantages of object oriented languages, imagine we have 2 objects, a dog object that can bark and a cat
        object that can meow. We now assign the dog object to a variable named Dori and cat object to a variable name Cathy. In an object-oriented language, we let 
        the compiler know that Dori is a dog and Cathy is a cat, so it's clear to the compiler that Dori must be able to bark and Cathy must be able to meow. But, in 
        a non-object-oriented language, we won't tell the compiler that Dori is a dog and Cathy is a cat, so it doesn't know what kind of action they can perform. 
        Such information could be useful when we are developing and debugging.
    </p>
    <div class="code">
        <p class="code">// (ObjectOriented) C#</p>
        <p class="code">Dog Dori = new Dog();</p>
        <p class="code">Cat Cathy = new Cat();</p>
        <p> </p>
        <p class="code">// (Non-Object-Oriented) Python</p>
        <p class="code">Dori = Dog()</p>
        <p class="code">Cathy = Cat()</p>
    </div>



    <p class="important">Building Blocks of Higher Level Coding:</p>
    <p>
        Coding with a higher order language is like constructing a building, it is important to know what building blocks we could use.
        Although each programming language has their unique features and syntax, they are share these building blocks in common. The building blocks 
        shown below is the foundation of higher level coding.
    </p>
    <div class="definitionGroup">
        <p style="font-weight: bold;">&#x2022; variable, array</p>
    </div>
    <div class="definitionGroup">
        <p style="font-weight: bold;">&#x2022; if-statement</p>
    </div>
    <div class="definitionGroup">
        <p style="font-weight: bold;">&#x2022; for-loop, while-loop</p>
    </div>
    <div class="definitionGroup">
        <p style="font-weight: bold;">&#x2022; function</p>
    </div>
    <p>
        The meaning and usage of each of these building blocks would be explained below along with C# syntax.
    </p>



    <p class="important">C# - Variable and Array:</p>
    <p>
        Again, C# is higher-level object-oriented language. Before explaining how objects are assigned to variables, we 
        must know the primitive data types. The most basic types that students should know are bool, char, string, int, and float. 
        Below is some example of assgining each of these types to variable.
    </p>
    <div class="code">
        <p class="code">//bool: stores true or false value</p>
        <p class="code">bool b0 = true;</p>
        <p class="code">bool b1 = false;</p>
        <p></p>
        <p class="code">//char: stores a single character</p>
        <p class="code">char c0 = 'A';</p>
        <p class="code">char c1 = '*';</p>
        <p class="code">char c1 = '5';</p>
        <p></p>
        <p class="code">//string: stores texts</p>
        <p class="code">string s0 = "Hello World";</p>
        <p></p>
        <p class="code">//int: stores integer values</p>
        <p class="code">int i0 = 2;</p>
        <p></p>
        <p class="code">//float: stores decimal values</p>
        <p class="code">int f0 = 0.2;</p>
        <p class="code">int f1 = 2.2;</p>
        <p class="code">int f2 = 2;</p>
    </div>
    <p>
        Moreover, higher level programming languages like C# support mathmatical operations. Down below is the syntax for coding such operations.
    </p>
    <div class="code">
        <p class="code"> int a = 1 + 1;</p>
        <p class="code">//a = 2</p>
        <p></p>
        <p class="code"> int b = a * 2;</p>
        <p class="code">//a = 2, b = 4</p>
        <p></p>
        <p class="code"> a = a - b;</p>
        <p class="code">//a = -2</p>
        <p></p>
        <p class="code"> a += 1;</p>
        <p class="code">//a = -1</p>
        <p></p>
        <p class="code"> a++;</p>
        <p class="code">//a = 0</p>
        <p></p>
        <p class="code"> ++a;</p>
        <p class="code">//a = 1</p>
        <p></p>
        <p class="code">int c = (3 - 1) * 2 + 4 / 2;</p>
        <p class="code">//c = 6</p>
    </div>
    <p>
        On the other hand, arrays are defined as sequence of objects. In C# and other object-oriented languages, elements in an array must
        be the same type or the children type.(the concept of parent type and children type will be covered later in session 2) Moreover, another important restriction
        of array is that the size of the array must be known upon declaration. In another word, coders cannot change the size of array, this restriction is for memory protection.
        Below is some example of how to declare and inititaliz an array.
    </p>
    <div class="code">
        <p class="code">//declaring an array and initialize it at the same time</p>
        <p class="code">int[] a0 = &#123; 0, 1, 3&#125;;</p>
        <p></p>
        <p class="code">//declaring an array without initializing</p>
        <p class="code">int[] a1 = new int[3];</p>
        <p></p>
        <p class="code">//declaring an array and initializing later</p>
        <p class="code">int[] a2 = new int[3];</p>
        <p class="code">a2 = &#123; 0, 1, 3&#125;; </p>
        <p></p>
        <p class="code">//another way of declaring an array and initializing later</p>
        <p class="code">int[] a3 = new int[3];</p>
        <p class="code">a3[0] = 0;</p>
        <p class="code">a3[1] = 1;</p>
        <p class="code">a3[2] = 3;</p>
        <p></p>
        <p class="code">//declaring an array then partly initialize it</p>
        <p class="code">int[] a4 = new int[3];</p>
        <p class="code">a4[0] = 0;</p>
    </div>
    <p>
        There are some more complex concepts about pointers on arrays that is difficult to explain with text, such as what will happen if the coder or program goes out of bound on an array,
        what will happen if we assign two variable name with the same array, or what if we want an array but we do not know what size will fit. Please attend vedio lecture or watch recorded lecture
        for more details.
    </p>
    <p> Also be noted that in C# and many other programming languages, coders can choose their own variable name, but there are some restrictions. Here are the rules 
        for choosing variable names:
    </p>
    <div class="definitionGroup">
        <p style="font-weight: bold;">&#x2022; The name can contain letters, digits, and the underscore character (_).</p>
    </div>
    <div class="definitionGroup">
        <p style="font-weight: bold;">&#x2022; The first character of the name must be a letter. The underscore is also a legal first character, but its use is not recommended at the beginning of a name. An underscore is often used with special commands, and it's sometimes hard to read.</p>
    </div>
    <div class="definitionGroup">
        <p style="font-weight: bold;">&#x2022; Case matters (that is, upper- and lowercase letters). C# is case-sensitive; thus, the names count and Count refer to two different variables.

        </p>
    </div>
    <div class="definitionGroup">
        <p style="font-weight: bold;">&#x2022; C# keywords can't be used as variable names. Recall that a keyword is a word that is part of the C# language. (A complete list of the C# keywords can be found in Appendix B, "C# Keywords.")</p>
    </div>
    <p>
        On top of these hard restriction, it is also important to chose meaningful names and follow some kind of conventions. Although the compiler would not complain, having organized and readable code will help both the developer and future code readers.
    </p>



    <p class="important"> C# - If-Statement:</p>
    <p>
        If-statement is a decision-making statement that guides a program to make decisions based on specified criteria, it allows more than one possible flow of control. The key words that students should know are 
        'if', 'if else', and 'else', and here are some examples of if-statement in C#: 
    </p>
    <div class="code">
        <p class="code">//Perform action0 function that takes in an empty parameter if condition0 is true</p>
        <p class="code">if (condition0) &#123;</p>
        <p class="code">&emsp;action0();</p>
        <p class="code">&#125;</p>
        <p></p>
        <p class="code">//Perform action0 function if condition0 is true</p>
        <p class="code">//else perform action1 function if condition1 is true</p>
        <p class="code">//else perform defaultAction</p>
        <p class="code">if (condition0) &#123;</p>
        <p class="code">&emsp;action0();</p>
        <p class="code">&#125; else if (condition1) &#123;</p>
        <p class="code">&emsp;action1();</p>
        <p class="code">&#125; else &#123;</p>
        <p class="code">&emsp;defaultAction();</p>
        <p class="code">&#125;</p>
    </div>
    <p>
        Noted that the condtion in a if-statement should be a bool value, it could be a bool variable, bool function, or bool operation. Below are some example of if-statements those conditions are
        bool operations.
    </p>
    <div class="code">
        <p class="code">//For the following examples, assume variables 'a' and 'b' are int</p>
        <p></p>
        <p class="code">//Perform action function if 'a' is greater than 'b'</p>
        <p class="code">if (a > b) &#123;</p>
        <p class="code">&emsp;action();</p>
        <p class="code">&#125;</p>
        <p></p>
        <p class="code">//Perform action function if 'a' is less than or equal to 'b'</p>
        <p class="code">if (a &#60;= b) &#123;</p>
        <p class="code">&emsp;action();</p>
        <p class="code">&#125;</p>
        <p></p>
        <p class="code">//Perform action function if 'a - b' equals to '10'</p>
        <p class="code">if (a - b == 10) &#123;</p>
        <p class="code">&emsp;action();</p>
        <p class="code">&#125;</p>
        <p></p>
        <p class="code">//Perform action function if 'a' is not equal to 'b'</p>
        <p class="code">if (a != 0) &#123;</p>
        <p class="code">&emsp;action();</p>
        <p class="code">&#125;</p>
        <p></p>        
        <p class="code">//Perform action function if 'a' is an even number</p>
        <p class="code">if (a % 2 == 0) &#123;</p>
        <p class="code">&emsp;action();</p>
        <p class="code">&#125;</p>
        <p></p>
        <p class="code">//Perform action function if both 'a' and 'b' are 0</p>
        <p class="code">if (a == 0 && b == 0) &#123;</p>
        <p class="code">&emsp;action();</p>
        <p class="code">&#125;</p>
        <p></p>
        <p class="code">//Perform action function if at least 1 of 'a' and 'b' is 0</p>
        <p class="code">if (a == 0 || b == 0) &#123;</p>
        <p class="code">&emsp;action();</p>
        <p class="code">&#125;</p>
    </div>


    <p class="important">C# - For-loop and While-loop</p>
    <p>
        Loops are use to execute statements repeatly while certain crateria is true. For-loop and While-loop are 2 types of loops that 
        student should understand by this course. The 2 types of loops are similar and can often be replaced with the other, and the concept of While-loop is simpler of the two, it execute statement repeatedly while 
        a statement is ture, and here is an example of While-loop:
    </p>
    <div class="code">
        <p class="code">//Print "Hello World" to concole 3 times </p>
        <p class="code">int i = 0; </p>
        <p class="code">while( i &#60; 3) &#123;</p>
        <p class="code">&emsp;Console.WriteLine("Hello World"); </p>
        <p class="code">&emsp;i++; </p>
        <p class="code">}</p>
        <p></p>
    </div>
    <p>
        For-loops are are similar to While-loop except that we must provide an initialization in the loop statements. Below is an example and some explanation:
    </p>
    <div class="code">
        <p class="code">//Print "Hello World" to concole 3 times </p>
        <p class="code">for (int i = 0; i &#60; 3; i++) &#123;</p>
        <p class="code">&emsp;Console.WriteLine("Hello World"); </p>
        <p class="code">}</p>
        <p></p>
    </div>
    <p>What logically happened in the above for-loop is that:</p>
    <div class="definitionGroup">
        <p>1. 'i' is initialized to 0. 0 is less than 3, so print "Hello World" to console.</p>
    </div>
    <div class="definitionGroup">
        <p>2. 'i' becomes 1 due to loop statement 'i++'. 1 is less than 3, so print "Hello World" to console.</p>
    </div>
    <div class="definitionGroup">
        <p>3. 'i' becomes 2 due to loop statement 'i++'. 2 is less than 3, so print "Hello World" to console.</p>
    </div>
    <div class="definitionGroup">
        <p>4. 'i' becomes 3 due to loop statement 'i++'. 3 is not less than 3, so the loop ends.</p>
    </div>
    <p>
        Something that student should think about is that infinite loops could occur, and this will most likely cause a runtime error depending on the compiler. Below is an example of an infinite loop:
    </p>
    <div class="code">
        <p class="code">//Print "Hello World" to concole infinite times </p>
        <p class="code">int i = 0; </p>
        <p class="code">while( true) &#123;</p>
        <p class="code">&emsp;Console.WriteLine("Hello World"); </p>
        <p class="code">}</p>
        <p></p>
    </div>
    <p>
        Loops would be explained again in the vedio lecture, please attend vedio lecture and ask questions on what you do not understand.
    </p>


    <p class="important">C# - functions</p>
    <p>
        A function is simply a “chunk” of code that programmers can use over and over again, rather than writing it out multiple times. 
        Functions enable programmers to break down or decompose a problem into smaller chunks, each of which performs a particular task. 
        Once a function is created, the details of how it works can almost be forgotten about. 
        In this way the detail is abstracted, allowing the programmer to focus on the bigger picture.
    </p>
    <p>
        Moreover, a basic function is composed of function return type, function name, parameters, and body. Below is an example with explannation:
    </p>
    <div class="img-wrapper">
        <img src="../../assets/img/C#_function_example.jpg">
    </div>
    <p>
        Do not worry about what is 'public' and 'static' for now, their explanation will be in the next session.
    </p>
</div>