.background {
    background: url('../../assets/img/login-1.jpg') no-repeat center/cover fixed;
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

div {
    flex-grow: 1;
    flex-shrink: 1;
}

p{
    color: white;
    font-weight: bold;
    font-size: large;
}