<div class="container">
    <p>Please Enter Your Passcode or Initializing Code:</p>
    <form (ngSubmit)="submit()" #localForm="ngForm">
        <mat-form-field >
            <input 
                matInput [formControl]="code" 
                type="password" 
                class="form-control"
                [errorStateMatcher]="myErrorStateMatcher"
            >
            <mat-error *ngIf="localForm.submitted" class="invalid-feedback">
                Code Invalid
            </mat-error>
        </mat-form-field>
        <button mat-button type="submit"><p>Confirm</p></button>
    </form>
</div>