<div>
    <h2>Project 0: Installing Unity</h2>

    <p>In this session, we will be installing and setting up Unity Game Engine. 
        Unity is a game engine that supports building games for many platforms such as iOS, 
        Android, Windows, PlayStation, Oculus Rift, and many more. 
        Here are some of the most popular games built using Unity:
    </p>

    <app-session1-project-popular-games-grid></app-session1-project-popular-games-grid>  

    <p>and we will be using Unity to implement some simpler games in the following weeks as well.</p>

    <p class="important">To Do:</p>

    <p>
        1) Head to <a href="https://store.unity.com/download" target="_blank" rel="noopener noreferrer"> Unity Downlad Page </a>
    </p>

    <p>
        2) Choose the hardware you are using(Window or Mac OS), then accept terms and download Unity Personal. 
        Unity Personal is a free version of Unity that we can use legally for internal project
        until we reaches a yearly revenue of 100K.
    </p>
    <div class="img-wrapper">
        <img src="../../assets/img/download_unity_1.png">
    </div>

    <p>
        3) After download finish, open UnityHubSetUp.exe to proceed to installation. 
        Accept all terms and default setup, then proceed until installation completes.
    </p>
    <div class="img-wrapper">
        <img src="../../assets/img/download_unity_2.png">
    </div>
    <div class="img-wrapper">
        <img src="../../assets/img/download_unity_3.png">
    </div>
    <div class="img-wrapper">
        <img src="../../assets/img/download_unity_4.png">
    </div>

    <p>
        4) The default setting should open Unity Hub for you. Otherwise, open Unity Hub from your desktop or app folder, 
        then create an Unity ID and sign in on your Unity Hub with the Unity ID you had just created. 
        Do not worry if your interface has a different color, it is because we are on different theme and it does not affect the functionality. 
        If you prefer the dark theme, you can set it on Preferences -> Apperarence -> Theme -> Dark.
    </p>
    <div class="img-wrapper">
        <img src="../../assets/img/download_unity_5.png">
    </div>
    <p>
        The Unity Hub interface look something like this when you are logged.
    </p>
    <div class="img-wrapper">
        <img src="../../assets/img/download_unity_6.png">
    </div>

    <p style="font-weight:bold">Congratuation, you had reached the end of this project!</p>



</div>