<div>

    <h2>Project 1: Tik-Tak-Toe!</h2>

    <p>
        As mentioned, codes are the essential part of any software. In this project, students will be utilizing what they had learned in lecture
        to build the simple simple game Tik-Tac-Toe. Part of this project is moving around and getting farmiliar with Unity Game
        Engine interface and building tools, and the other part is actually writing the code. Skeleton codes and building resources would be provided,
        and the functions for students to implement would be explained. Below is a quick view of the final product:
    </p>

</div>