.example-card {
    width: 400px;
    height:525px;
    margin:5px;
    float:left;
}
  
img {
    width:400px;
    height: 350px;
}

mat-card {
    background-color: #757575;
    color: white;
}

mat-card-subtitle {
    color: white;
}

button{
    border-color: white;
    border: 2px solid white !important;
    position: absolute;
    bottom: 5px;
    left:130px;
}

p{
    color: white;
}