<mat-card class="example-card" color="primary">
    <mat-card-header>
        <mat-card-title>Session 3:</mat-card-title>
        <mat-card-subtitle>Classes and Data Stucture</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            This session teaches students how to group and manipulate data with classes, and explains the usage of the three most common data stuctures(List,Set,and Map).  
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><p>JUMP TO SESSION</p></button>
    </mat-card-actions>
 </mat-card>
