<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile rowspan="1" colspan="2" class="among_us">Among Us</mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1" class="fall_guys">Fall Guys</mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="1" class="genshin_impact">Genshin Impact</mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1" class="hearthstone">Hearthstone</mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="2" class="pokemon_go">Pokemon Go</mat-grid-tile>
</mat-grid-list>